body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* ГЛАВНАЯ СТРАНИЦА */

/* ОСНОВНОЙ БЛОК С ФОРМОЙ */
/* Основной блок */
.welcome-block {
    width: 100%;
    height: 700px; /* Фиксированная высота */
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #d70027;
    color: white;
    padding-top: 80px;
    box-sizing: border-box;
}

.main-text {
    width: 300px;
    height: 300px;
    margin-left: 100px;
}

.welcome-block .main-text h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

.welcome-block .main-text p {
    font-size: 18px;
    margin-bottom: 24px;
}

/* Форма бронирования */
.booking-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0px 0px 100px;
    width: 800px;
    height: 120px;
    border: 1px solid white;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.449);
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-row input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 14px;
    outline: none;
    box-sizing: border-box;
    width: auto;
    height: 40px;
}

.form-row input:focus {
    border-color: #ffccd5;
}

/* Кнопка */
.btn-submit {
    background-color: white;
    color: #d70027;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 40px;
}

.btn-submit:hover {
    background-color: #d70027;
    color: white;
}

/* УБИРАНИЕ СТРЕЛОЧЕК СПРАВА ПОЛЯ */
/* Для Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


/* БЛОК О НАС  */

.about-us {
    padding-top: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us .container {
    width: 100%;
    margin: 0 auto;
}

.about-us h3 {
    color: #d70027;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.about-us h2 {
    font-size: 40px;
    color: #222;
    margin-bottom: 30px;
    font-weight: bold;
}

.about-us .content-main {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Отступ между блоками */
    flex-wrap: wrap; /* Для переносов на меньших экранах */
}

.about-us .content, .about-us .content-2 {
    display: flex;
    flex-direction: row;
    width: 100%; /* Используйте 100% ширины, а не фиксированное значение */
    margin-bottom: 20px;
    flex-wrap: wrap; /* Для более компактного расположения элементов */
}

.content .text, .content-2 .text-2 {
    text-align: left;
    width: 600px; /* Элементы будут занимать 45% от ширины контейнера */
    margin-right: 20px; /* Добавим отступы между элементами */
}

.content .images, .content-2 .images-2 {
    max-width: 350px; /* Чтобы изображения не выходили за границы */
    margin-left: 20px;
}

.about-us .content img, .about-us .content-2 img {
    width: 350px;
    height: auto;
    border-radius: 10px;
}
