{% extends 'template.html' %}

{% load static %}

{% block title %}
  About Us
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
    <section class="about">
        <div class="container">
            <h1 class="about-title">О нас</h1>
            <p class="about-description">
                Гостиница для животных «Тимошка» — это профессиональные, заботливые, надёжные и добрые руки для вашего любимого питомца.
                Мы предоставляем высокий сервис всем гостям отеля. В номерах проводятся эко-уборки. Все средства — на основе натуральных продуктов. 
                Это большой плюс для здоровья наших гостей, ведь в воздухе не будет химикатов. С первых минут пребывания в нашем отеле вы в полной мере 
                сможете оценить внимательность персонала и приятно быструю регистрацию.
            </p>
            <p class="about-love">Животные окружены заботой и любовью!</p>
        </div>
    </section>
{% endblock %}