{% extends 'template.html' %}

{% load static %}

{% block title %}
  Zoo Hotel
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block content %}
<!-- БЛОК -> ГЛАВНЫЙ КОНТЕНТ -->
  <div class="welcome-block">
    <div class="main-text">
      <h1>Добро пожаловать в зоогостиницу Тимошка!</h1>
      <p>Оставьте заявку на бронирование<br>прямо сейчас!</p>
    </div>

    <form class="booking-form" action="/сдл" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-row">
            <input type="text" name="name" placeholder="ФИО" required>
            <input type="number" id="phone" name="phone" placeholder="Телефон">
            <input type="text" id="booking-dates" name="dates" placeholder="Выберите даты" required>
            <button type="submit" class="btn-submit">Забронировать</button>
        </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
    // Инициализация календаря
    flatpickr("#booking-dates", {
        mode: "range",
        dateFormat: "d.m.Y",
        locale: "ru"
    });
  </script>
<!-- ________________________________________________________________________________________________________- -->
<!-- БЛОК -> НЕМНОГО О НАС -->
  <section class="about-us">
    <div class="about-us-container">
        <div class="about-us-content">
            <h2 class="about-us-title">Немного о нас</h2>
            <p>
                Мы предоставляем высокий сервис всем гостям отеля. В номерах проводятся эко-уборки. 
                Все средства — на основе натуральных продуктов. Это большой плюс для здоровья наших 
                гостей, ведь в воздухе не будет химикатов. С первых минут пребывания в нашем отеле 
                вы в полной мере сможете оценить внимательность персонала и приятно быструю регистрацию.
            </p>
            <p>
                Отель находится в самом центре города, в его исторической части. Остановив свой выбор на этом 
                отеле, вы получите основные достопримечательности города в вашей доступности от места проживания. 
                Wi-Fi предоставляется на всей территории отеля.
            </p>
            <a href="/about" class="about-us-button">Узнать больше</a>
        </div>
        <div class="about-us-image">
            <img src="/static/img/hotel_view.jpg" alt="Люксовый отель Тимошка">
        </div>
    </div>
  </section>
<!-- ________________________________________________________________________________________________________- -->
<!-- БЛОК -> МЫ ПРЕДЛАГАЕМ -->
  <section class="offers">
    <h2 class="offers-title">Мы предлагаем</h2>
    <div class="offers-container">
        <!-- Первый номер -->
        <div class="offer-card">
            <div class="offer-image">
                <img src="/static/img/number_2.jpg" alt="Номер Люкс">
                <div class="offer-overlay">
                    <a href="/prices" class="offer-button">Посмотреть цены</a>
                </div>
            </div>
            <div class="offer-content">
                <h3 class="offer-name">Кошки</h3>
                <p class="offer-description">
                    Гостиница для животных «Тимошка» — это профессиональные, заботливые,<br>надёжные и добрые руки для вашего любимого питомца.
                </p>
                <p class="offer-price">От 550 руб/сутки</p>
            </div>
        </div>
        <!-- Второй номер -->
        <div class="offer-card">
            <div class="offer-image">
                <img src="/static/img/number_1.jpg" alt="Номер Полулюкс">
                <div class="offer-overlay">
                    <a href="/prices" class="offer-button">Посмотреть цены</a>
                </div>
            </div>
            <div class="offer-content">
                <h3 class="offer-name">Собаки</h3>
                <p class="offer-description">
                    Гостиница для животных «Тимошка» — это профессиональные, заботливые,<br>надёжные и добрые руки для вашего любимого питомца.
                </p>
                <p class="offer-price">От 900 руб/сутки</p>
            </div>
        </div>
    </div>
  </section>

<!-- ________________________________________________________________________________________________________- -->
  <!-- ОТЗЫВЫ -->
  
<!-- ________________________________________________________________________________________________________- -->
  <!-- КОНТАКТЫ -->
  <div class="contact-page">
    <section class="contact-info">
        <h1>Контакты:</h1>
        <p>Мы всегда рады помочь и ответить на все ваши вопросы.</p>
        <p>Адрес: Зиповская, 5/23, Центральный округ, Краснодар, 350010</p>
        <p>Телефон: +7-918-217-33-77</p>
        <p>Электронная почта: gtk-tim@yandex.ru</p>
    </section>
    <section class="contact-map">
        <div class="dg-widget-container">
            <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":640,"height":600,"borderColor":"#a3a3a3","pos":{"lat":45.06250303507905,"lon":38.98410558700562,"zoom":16},"opt":{"city":"krasnodar"},"org":[{"id":"70000001006920635"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
        </div>
    </section>
  </div>
<!-- ________________________________________________________________________________________________________- -->
  <!-- FOOTER -->
  <footer>
    <div class="footer">
      <div class="block-footer-contacts">
        <div class="footer-logo">
          <img src="/static/img/logo.jpg">
        </div>

        <div class="footer-info">
          <div class="footer-adress">
            <h2>Address:</h2>
            <p>Зиповская, 5/23, Центральный округ, Краснодар, 350010</p>
          </div>
          <div class="footer-contact">
            <h2>Contact:</h2>
            <a href="+7-918-217-33-77">+7-918-217-33-77</a>
            <a href="gtk-tim@yandex.ru">gtk-tim@yandex.ru</a>
          </div>
        </div>
      </div>
      <div class="footer-links">
        <div class="first-block">
          <a href=""><h3></h3></a>
          <a href=""><h3></h3></a>
          <a href=""><h3></h3></a>
          <a href=""><h3></h3></a>
          <a href=""><h3></h3></a>
        </div>
        <div class="second-block">
          <a href="/"><h3>Главная</h3></a>
          <a href="/prices"><h3>Цены</h3></a>
          <a href="/services"><h3>Сервисы</h3></a>
          <a href="/about"><h3>О нас</h3></a>
          <a href="/"><h3>Отправить заявку</h3></a>
        </div>
        <div class="third-block"></div>
      </div>
    </div>

    <div class="privacy-policy">
      <div class="privacy-text">
        <p>© 2024 Relume. All rights reserved.</p>
      </div>
      <div class="privacy-links">
        <a href="/">Privacy Policy</a>
        <a href="/">Terms of Service</a>
        <a href="/">Cookies Settings</a>
      </div>
    </div>
  </footer>
{% endblock %}